<template>
    <v-row justify="center">
        <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on"> Add task </v-btn>
            </template>
            <v-card>
                <v-card-text>
                    <v-container>
                        <v-row>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="title" label="Title" required></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="description" label="Description" required></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="status" label="Status" required></v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field v-model="priority" label="Priority" required></v-text-field>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="blue darken-1" text @click="this.addTask">Add</v-btn>
                    <v-btn color="primary" dark @click="this.close">X</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-row>
</template>

<script>
import { ADD_TASK } from '../../gql/tasks/addTask';

export default {
    name: 'TaskAdd',
    data: () => {
        return {
            title: '',
            description: '',
            status: '',
            priority: '',
            executors: Number,
            dialog: false
        }
    },
    props: ['columnId'],
    methods: {
        addTask() {
            if( this.title && this.description ) {
                this.$apollo.mutate({
                    mutation: ADD_TASK,
                    context: {
                        headers: {
                            Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                        }
                    },
                    variables: {
                        name: this.title,
                        description: this.description,
                        status: this.status,
                        priority: this.priority,
                        executors: 2,
                        dedline: '2020-10-05',
                        column_id: this.columnId
                    }   
                });
            } else {
                alert('Please, fill title and description!');
            };
            this.title = this.description = this.status = this.priority = '';
            this.dialog = false;
            this.$emit('addTask');
        },
        close() {
            this.dialog = false;
        }
    }
}
</script>