<template>
    <div>
        <draggable class="tasks-list" group="task-group" :list="colTasks" 
        @start="drag=true"  >
            <v-list-item class="tasks-list__item"
            v-for="task in colTasks" :key="task.id">
                <v-list-item-content>
                    <v-list-item-title>{{ task.name }}</v-list-item-title>
                    <v-list-item-subtitle>Description: {{ task.description }}</v-list-item-subtitle>
                    <v-list-item-subtitle>Dedline: {{ task.dedline }}</v-list-item-subtitle>
                    <!-- <v-list-item-subtitle>Status: {{ task.status }}</v-list-item-subtitle> -->
                </v-list-item-content>
            </v-list-item>
        </draggable>
    </div>
</template>

<script>
import draggable from 'vuedraggable';
import { GET_TASKS } from '../../gql/tasks/getTasks';
import { UPDATE_TASKS_POS } from '../../gql/tasks/updateTasks';

export default {
    name: 'TaskList',
    props: ['columnId', 'isUpdate'],
    components: {
        draggable
    },
    data: function() {
        return {
            colTasks: [],
            isDnD: false,
            commentText: ''
        }
    },
    apollo: {
        tasks: {
            query: GET_TASKS,
            context: {
                headers: {
                    Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                }
            },
            variables() {
                return {
                    column_id: this.columnId
                }
            },
            update(data) {
                this.colTasks = data.tasks;
                return data.tasks;
            }
        }
    },
    watch: {
        colTasks() {    
            this.colTasks.forEach((task, index) => {
                task.position = index;
                task.column_id = this.columnId;
            });  
                  
            if( this.isDnD == true) {
                this.updateTasks();
            }
            this.isDnD = true;
        },
        isUpdate() {
            if( this.isUpdate ) {
                this.$apollo.queries.tasks.refetch()
                .then(() => this.$emit('updateSuccess'));               
            }
        }
    },
    methods: {
        updateTasks() {
            this.$apollo.mutate({
                mutation: UPDATE_TASKS_POS,
                context: {
                    headers: {
                        Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                    }
                },
                variables: {
                    newArray: this.colTasks
                }
            });
        }
    }
}
</script>

<style scoped>
.tasks-list {
    padding: 5px;
    background-color: transparent;
}

.tasks-list__item {
    border: 1px solid rgb(114, 185, 113);
    border-radius: 5px;

    margin-bottom: 10px;
    text-align: start;
}

.tasks-list__item:hover,
.tasks-list__item:active {
    cursor: pointer;
}

.comment-area {
    display: none;
}

.comment-on {
    display: block;
}

.add-comment-btn {
    min-width: 30px !important;
    max-width: 30px !important;
}
</style>