<template>
    <div>
        <draggable class="column-list__inner" v-model="boardColumns" 
            @start="drag=true" @end="drag=false" >
            <v-card class="column-item" color="#c6ffc4ad" max-width="400" 
                v-for="column in boardColumns" :key="column.id">
                <v-card-title>
                    <span class="text-h6 font-weight-dark">{{ column.title }}</span>
                </v-card-title>
                <v-btn class="delete-column" @click="rmColumn(column.id)">X</v-btn>
                <TaskList :columnId="column.id" :isUpdate="isUpdate" 
                    @updateSuccess="updateSuccess" />
                <TaskAdd :columnId="column.id" @addTask="updateTasks" />
            </v-card>
        </draggable>
    </div>
</template>

<script>
import draggable from 'vuedraggable';
import TaskList from '../task/Tasklist.vue';
import TaskAdd from '../task/TaskAdd.vue';
import { UPDATE_COLUMNS_POS } from '../../gql/columns/updateColumnsPos';
import { REMOVE_COLUMN } from '../../gql/columns/removeColumn';
import { GET_COLUMNS } from '../../gql/columns/getColumnsQuery';

export default {
    name: 'Column',
    props: ['boardColumns', 'boardId'],
    components: {
        TaskList,
        draggable,
        TaskAdd
    },
    data: () => {
        return {
            isUpdate: false,
            isDnD: false
        }
    },
    methods: {
        rmColumn(colId) {
            this.$apollo.mutate({
                mutation: REMOVE_COLUMN,
                context: {
                    headers: {
                        Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                    }
                },
                context: {
                    headers: {
                        Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                    }
                },
                variables: {
                    id: colId
                },
                update: (cache, { data }) => {
                    const existingColumns = cache.readQuery({
                        query: GET_COLUMNS,
                        context: {
                            headers: {
                                Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                            }
                        },
                    });

                    const newColumns = existingColumns.columns.filter( 
                        col => col.id != colId
                    );

                    cache.writeQuery({
                        query: GET_COLUMNS,
                        context: {
                            headers: {
                                Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                            }
                        },
                        data: {columns: newColumns}
                    });
                }
            });
        },
        updateTasks() {
            this.isUpdate = true;
        },
        updateSuccess() {
            this.isUpdate = false;
        },
        updateColumns() {
            this.$apollo.mutate({
                mutation: UPDATE_COLUMNS_POS,
                context: {
                    headers: {
                        Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                    }
                },
                variables: {
                    newArray: this.boardColumns,
                }
            })
        }
    },
    watch: {
        boardColumns() {
            if( this.isDnD ) {
                this.updateColumns();           
            };
            this.isDnD = true; 
        }
    },   
}
</script>

<style scoped>
.column-list__inner {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    padding: 30px;
}

.column-item {
    position: relative;
    width: 250px;
    min-height: 250px;

    background-color: rgb(198, 255, 196);

    margin-right: 20px;
    transition: 1s;
}

.column-item:hover,
.column-item:active {
    transform: scale(1.1);
    cursor: pointer;
}

.delete-column:hover,
.delete-column:active {
    cursor: pointer;
}
</style>