<template>
    <div class="user-invite text-center">
        <v-menu offset-y>
            <template v-slot:activator="{ on, attrs }"> 
                <v-btn color="primary" dark v-on="on" v-bind="attrs">Invite User</v-btn>
            </template>
            <v-list>
                <v-list-item v-for="user in noMembers()" :key="user.id">
                    <v-list-item-title class="user-item"
                    @click="userInvite(user.id)">
                        {{ user.login }}
                    </v-list-item-title>
                </v-list-item>
            </v-list>
        </v-menu>
    </div>
</template>

<script>
import { GET_USERS } from '../../gql/users/getUsersQuery';
import { INVITE_USER } from '../../gql/members/inviteUserToBoard';

export default {
    name: 'UserInvite',
    props: ['boardId', 'boardMembers'],
    data: function () {
        return {
            users: [],
        }
    },
    apollo: {
        users: {
            query: GET_USERS,
            context: {
                headers: {
                    Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                }
            },
        }
    },
    methods: {
        userInvite(userId) {
            this.$apollo.mutate({
                mutation: INVITE_USER,
                context: {
                    headers: {
                        Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                    }
                },
                variables: {
                    user_id: userId,
                    board_id: this.boardId
                }
            });
            this.$emit('user-invite');
        },
        noMembers() {
            if( this.boardMembers ) { 
                let membersId = this.boardMembers.map(member => 
                    member.members_user.id
                );
                return this.users.filter(user => 
                    membersId.findIndex(element => element == user.id) === -1
                );
            };           
        }
    }
}
</script>

<style scoped>
.user-invite {
    padding: 10px;
    margin-top: 20px;
}

.user-item:hover,
.user-item:active {
    cursor: pointer;
    background: rgb(180, 178, 178);
}
</style>
