<template> 
    <div class="auth-form">
        <h3>Login Form</h3>
        <v-text-field @keyup.enter="login" v-model="userLogin" label="Login" type="text"></v-text-field>
        <v-text-field @keyup.enter="login" v-model="userPass" label="Password" type="text"></v-text-field>
        <v-btn block @click="login">Login</v-btn>
    </div>
</template>

<script>
import axios from 'axios';
require('dotenv').config({path: './././.env'});

export default {
    name: 'Login',
    data: function () {
        return {
            userLogin: '',
            userPass: '',
            userId: ''
        }
    },
    methods: {
        login() { 
            if(this.userLogin && this.userPass) {
                this.loginHandler();
            } else {
                alert('Please enter login and password!')
            }
        },
        loginHandler() {
            axios.get( process.env.VUE_APP_AUTH_LOGIN_ENDPOINT, {
                params: {
                    login: this.userLogin,
                    password: this.userPass 
                }
            }).then(response => {
                this.dbResponseHandler(response);      
            });
        },
        dbResponseHandler(response) {
            const token = response.data.accessToken;
            localStorage.setItem('accessToken', token);
            if( token ) {
                this.$router.push({
                path: '/scope',
                query: {
                    userId: response.data.userID,
                    userLogin: this.userLogin
                    }
                });
            } else {
                alert('No Correct Login or Password!')
            }
        }
    },
};
</script>

<style scoped>
.v-input, .v-btn {
    width: 80%;
}
</style>
   