<template>
    <div class="registration auth-form">
        <h3>Registration Form</h3>
        <v-text-field v-model="login" label="Login" type="text"></v-text-field>
        <v-text-field v-model="password" label="Password" type="text"></v-text-field>
        <p class="auth-form__hint">Пароль должен состоять из восьми и более симоволов латинского
            алфавита, содержать заглавные, строчные буквы и цифры </p>
        <v-btn block @click="checkLoginPassword">Registration</v-btn>
    </div>
</template>

<script>
import axios from 'axios';
require('dotenv').config({path: './././.env'});

export default {
    name: 'Registration',
    data: function () {
        return {
            login: '',
            password: '',
        }
    },
    methods: {
        checkLoginPassword() {
            if (this.login && this.password) {
                this.registration();
            } else {
                alert('Заполните все поля, пожалуйста!');
                this.login = this.password = '';
            };         
        },
        registration() {
            axios.get( process.env.VUE_APP_AUTH_REGISTER_ENDPOINT, {
                params: {
                    login: this.login,
                    password: this.password
                }
            })
            .then(response => {
                if(response.status == 202) {
                    alert('User with such credentials is already registered!')
                } else if(response.status == 205) {
                    alert('Password is not correct!')
                } else if(response.status == 200){
                    alert('User is successfully registered! Login Please!')
                };
                this.login = this.password = '';
            })
        }
    }
};

</script>

<style scoped>
.auth-form__hint {
    color: grey;
    margin-bottom: 15px;
}
.v-input, .v-btn {
    width: 80%;
}
</style>
