<template>
    <div class="board-wrapper">
        <BoardAside :boardId="this.$route.params.id" />
        <div class="board-main">
            <div class="board-actions">
                <v-btn block @click="addColumnTitle">Add Column</v-btn>
                <div class="add-column">
                    <p>Enter column title, please</p>
                    <v-text-field type="text" v-model="columnTitle"></v-text-field>
                    <v-btn block @click="createColumn">Add</v-btn>
                </div>     
            </div>
            <Column :boardColumns="boardColumns" :boardId="this.$route.params.id" />
        </div>      
    </div>
</template>

<script>
import { GET_COLUMNS } from '../gql/columns/getColumnsQuery';
import { ADD_COLUMN } from '../gql/columns/addColumnQuery';
import Column from '../components/column/Column.vue';
import BoardAside from '../components/boards/BoardAside.vue';

export default {
    name: 'BoardItem',
    data: () => {
        return {
            columns: [],
            columnTitle: ''
        }
    },
    components: {
        Column,
        BoardAside
    },
    apollo: {
        columns: {
            query: GET_COLUMNS,
            context: {
                headers: {
                    Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                }
            },
        }
    },
    computed: {
        boardColumns() {
            return this.columns.filter(column => 
                column.board_id == this.$route.params.id
            );
        }
    },
    methods: {
        addColumnTitle() {
            document.querySelector('.add-column').style.display = "block";
        },
        createColumn() {
            if( this.columnTitle ) {
                this.addColumn();
                document.querySelector('.add-column').style.display = "none";
            } else {
                alert('Enter column title, please!')
            };
            this.columnTitle = '';
        },
        addColumn() {
            this.$apollo.mutate({
                mutation: ADD_COLUMN,
                context: {
                    headers: {
                        Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                    }
                },
                variables: {
                    title: this.columnTitle,
                    board_id: this.$route.params.id
                },
                update: (cache, { data: { insert_columns } }) => {
                    const data = cache.readQuery({
                        query: GET_COLUMNS,
                        context: {
                            headers: {
                                Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                            }
                        },
                    });
                    const insertedColumn = insert_columns.returning;
                    data.columns.splice(0, 0, insertedColumn[0]);
                    cache.writeQuery({
                        query: GET_COLUMNS,
                        context: {
                            headers: {
                                Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                            }
                        },
                        data
                    });
                }
            });
        }
    }
}
</script>

<style scoped>
.board-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 100vh;
}

.board-main {
    width: 80%;
}

.board-actions {
    width: 20%;

    margin: auto
}

.add-column {
    display: none;
    padding-top: 30px;
}

.back-btn {
    margin-bottom: 20px;
}

.back-btn__link {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
}
</style>