<template>
    <div class="home-view">
        <Login />
        <Registration />
    </div>
</template>

<script>
import Login from '../components/home/Login.vue';
import Registration from '../components/home/Registration.vue';

export default {
  name: 'App',
  components: {
    Login,
    Registration
  },
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.home-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.auth-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;

  width: 20%;
}

.auth-form input {
  min-height: 30px;
  width: 80%;

  font-size: 18px;

  margin-bottom: 15px;
}

.auth-form button {
  width: 100px;
  height: 30px;
}

.auth-form button:hover {
  cursor: pointer;
}

h3 {
  text-transform: uppercase;
}
</style>