<template>
    <div>
        <ScopeComponent 
        :user="this.$route.query"
        />
    </div>
</template>

<script>
import ScopeComponent from '../components/boards/ScopeComponent.vue'
export default {
    name: 'Scope',
    components: {
        ScopeComponent
    },
}
</script>