<template>
    <div class="board-aside">
        <div class="board-members">
            <v-card class="mx-auto" max-width="300" tile>
                <v-list disabled>
                    <v-subheader>This board members:</v-subheader>
                    <v-list-item 
                    v-for="member in boardMembers" :key="member.members_user.id">
                        <v-list-item-content>
                            <v-list-item-title>{{ member.members_user.login }}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>
        </div>
        <UserInvite :boardId="this.boardId" :boardMembers="boardMembers" 
        @user-invite="updateMembers" />
    </div>
</template>

<script>
import UserInvite from '../column/UserInvite.vue';
import { GET_BOARD_MEMBERS } from '../../gql/members/getBoardMembers';

export default {
    name: 'BoardAside',
    props: ['boardId'],
    components: {
        UserInvite,
    },
    apollo: {
        boardMembers: {
            query: GET_BOARD_MEMBERS,
            context: {
                headers: {
                    Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                }
            },
            variables() {
                return {
                    id: this.boardId
                }
            },
            update(data) {
                return data.boards[0].board_members;
            }
        }
    },
    methods: {
        updateMembers() {
            this.$apollo.queries.boardMembers.refetch();
        }
    }
}
</script>

<style scoped>
.board-aside {
    width: 20%;
}
</style>