<template>
    <div class="board-list__inner">
        <v-card class="board-item" color="#26c6da" dark max-width="400" 
        v-for="board in this.boards" :key="board.id"> 
            <router-link class="board-item__link" :to="`/scope/board${board.id}`"></router-link>
            <v-card-title>
                <span class="text-h6 font-weight-light">{{ board.title }}</span>
            </v-card-title>
        </v-card>
    </div>
</template>

<script>
import BoardItem from '../../pages/BoardItem.vue';

export default {
    name: 'BoardList',
    components: {
        BoardItem
    },
    props: ['userId', 'boards'],
}
</script>

<style scoped>
.board-item {  
    min-height: 200px;
    min-width: 300px;

    margin: 20px;
    transition: 1s;

    background-color: rgb(38 198 218 / 73%) !important; 
}

.board-item:hover,
.board-item:active {
    transform: scale(1.2);
}

.board-list__inner {
    display: flex;
    flex-flow: row wrap;
    align-items: start;
    justify-content: start;

    padding: 30px;
    order: 1;

    width: 80%;
}

a.board-item__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

a.board-item__link:hover,
a.board-item__link:active {
    cursor: pointer;
}
</style>