<template>
    <div class="boards">
        <div class="board-actions">
            <div class="user-info">
                <div>
                    You login as 
                    <h3 class="user-info__login">{{ this.user.userLogin }}</h3>
                </div>
                <v-btn block @click="logOut">Log Out</v-btn>
            </div>
            <v-btn class="board-actions__add" block @click="addBoardTitle">Add Board</v-btn>
            <div class="add-board">
                <p>Enter board title, please</p>
                <v-text-field type="text" v-model="boardTitle"></v-text-field>
                <v-btn block @click="createBoard">Add</v-btn>
            </div>
        </div>
        <BoardList :userId="this.user.userId" :boards="boardsUser" />
    </div>
</template>

<script>
import { UPDATE_USER } from '../../gql/users/changeUserStat';
import { ADD_BOARD } from '../../gql/boards/addBoardQuery';
import { GET_BOARDS } from '../../gql/boards/getBoardsQuery';
import { GET_USER_BOARDS } from './../../gql/boards/getUserBoards';
import BoardList from './BoardList.vue';

export default {
    name: 'ScopeComponent',
    props: ['user'],
    data: () => {
        return {
            boardTitle: '',
        }
    },
    components: {
        BoardList
    },
    apollo: {
        boards: {
            query: GET_BOARDS,
            context: {
                headers: {
                    Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                }
            },
        },
        boardsUser: {
            query: GET_USER_BOARDS,
            context: {
                headers: {
                    Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                }
            },
            variables() {
                return {
                    user_id: this.user.userId
                }            
            },
            update(data) {
                return data.boards.concat(data.user_to_board);
            } 
        }
    },
    methods: {
        logOut() {
            localStorage.setItem('accessToken', null); 
            this.$router.push({ path: '/' });   
        },
        addBoardTitle() {
            document.querySelector('.add-board').classList.toggle('adding-on');
        },
        createBoard() {
            if ( this.boardTitle ) {
                this.addBoard();
                document.querySelector('.add-board').classList.remove('adding-on');
            } else {
                alert('Enter board title, please');
            };           
        },
        addBoard() {
            this.$apollo.mutate({
                mutation: ADD_BOARD,
                context: {
                    headers: {
                        Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                    }
                },
                variables: {
                    title: this.boardTitle,
                    creator: this.user.userId,
                },
                update: (cache, { data: {insert_boards}}) => {
                    const data = cache.readQuery({
                        query: GET_USER_BOARDS,
                        context: {
                            headers: {
                                Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                            }
                        },
                        variables: {
                            user_id: this.user.userId
                        }
                    });
                    const insertedBoard = insert_boards.returning;
                    data.boards.splice(0, 0, insertedBoard[0]);
                    cache.writeQuery({
                        query: GET_USER_BOARDS,
                        context: {
                            headers: {
                                Authorization: 'Bearer' + ' ' + localStorage.getItem('accessToken')
                            }
                        },
                        variables: {
                            user_id: this.user.userId
                        },
                        data
                    });                
                }
            });
            this.boardTitle = '';   
        },
    }  
}
</script>

<style scoped>
.boards {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: start;
}

.board-actions {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-flow: column nowrap;

    width: 20%;
    height: 100vh;

    padding: 20px;
    order: 2;
}

.board-actions__add {
    max-height: 36px;
}

.user-info {
    padding-bottom: 30px;
}

.user-info > div {
    margin-bottom: 15px;
}

.user-info__login {
    font-weight: bolder;
    text-decoration: underline;

    margin: 0;
    padding: 0;
}

.add-board {
    display: none;
}

.add-board p {
    padding-top: 20px;
}

.adding-on {
    display: block !important;
}
</style>